<meta http-equiv="refresh" content="30" >

<div class="options">
  <h1>Leaderboard</h1>
  <table id="player_leaderboard">
    <tr>
      <th>Rank #</th>
      <th>Player</th>
      <th>Company</th>
      <th>Time</th>
    </tr>

    <% @players.each_with_index do |player, index| %>
      <tr>
        <td><%= index.to_i + 1 %></td>
        <td><%= player.first_name + " " + player.last_name %></td>
        <td><%= player.company_name %></td>
        <td><%= player.timer.time_seconds.round(3) %></td>
      </tr>
    <% end %>
  </table>

</div>
