<div>
  <%= link_to 'Register to play', new_player_path, {:class => 'btn large'} %>
  <div class="center">
    <%= link_to 'Already registered? Click here to login', registered_path, {:id => 'welcome'} %>
  </div>
	<br />
	<br />
</div>
