<div>
	<div class="options">
		<ol class="choices">
			<li>
		  	<%= link_to 'Register to Play', new_player_path, {:class => 'btn large primary'} %>
	  	</li>
			<li>
				<%= link_to 'Already registered? Click here to login', registered_path, {:id => 'welcome'} %>
			</li>
		</ol>
	</div>
	<br />
	<br />
</div>
