<div class="qa main">
	<div id="player_id" class="hidden"><%= @player_id %></div>

	<h1 class="page_title">ThoughtWorks QA</h1>

	<div id="clock"></div>

	<section id="questions"></section>

	<div id="win" class="alert-message block-message success hidden">
		<p class="result support_line">You win. Contact a TWer to know about prizes!</p>
		<p id="leaderboard-position" class="support_line"></p>
	</div>

	<div id="lose" class="alert-message block-message error hidden">
		<p class="result support_line">Sorry, you didn't win this time.</p>
		<p id="lose_result" class="support_line"></p>
	</div>

	<div id="alert-actions" class="hidden">
		<a class="button" href="#">Play again</a>
		<a class="button" href="/">Quit</a>
	</div>
</div>