<div id="player_id" style="display:none;"><%= @player_id %></div>

<div id="clock"></div>

<div id="questions"> </div>

<div id="win" class="alert-message block-message success">

<span class="result">You win. Contact a TWer to know about prizes!</span>
  <img src="/assets/happy_face.png"  align='middle' />
<div>
  <p>Please contact a ThoughtWorker to collect your prize.</p>
  <p id="leaderboard-position"></p>
</div>
</div>

<div id="lose" class="alert-message block-message error">
	<span class="result">Sorry, you didn't win this time.</span>
	<img src="/assets/sad_face.png" align='middle' />
  <p id='lose_result'></p>
</div>

<div id="alert-actions" class="clearfix">
	<div class="center">
    <a class="btn small play" href="#">Play again</a>
		<a class="btn small quit" href="/">Quit</a>
	</div>
</div>
