<div class="container">
  <div class="content">
    <div class="page-header">
      <img src="/assets/message.png" alt="Welcome to TW Agile Australia" />
      <img src="/assets/line.png" alt="" />
		</div>

		<%= semantic_form_for @player do |f| %>
			<%= f.inputs %>
			<%= f.actions %>
		<% end %>
		
  </div>
  <footer>
    <p>&copy; ThoughtWorks 2011</p>
  </footer>
</div>