/*= require formtastic */
@font-face {
	font-family: 'Open Sans';
	src: url('OpenSans-Regular.ttf');
}

@font-face {
	font-family: 'Open Sans';
	src: url('OpenSans-Regular.ttf');
}

@font-face {
	font-family: "Open Sans";
	src: url('OpenSans-Regular.ttf');
}

html, body {
  height: 100%;
}

body {
  background-color: #FFFFFF;
  font-family: 'Open Sans';
  line-height: 18px;
  color: #060606;
}

footer {
  text-align:center;
  padding: 5px 40px;
  font-size:14px;
  height:30px;
}
