<div class="reports main">
	<h1 class="page_title">Reports</h1>

	<p class="support_line"><%= link_to "Player report", reports_players_path, {:class => "players_link"} %></p>
	<p class="support_line"><%= link_to "Questions answered correctly on first attempt report", reports_answered_correctly_path %></p>
</div>
