<h1>Reports</h1>

<%= link_to "Player report", reports_players_path, {:class => "players_link"} %><br/>
<%= link_to "Questions answered correctly on first attempt report", reports_answered_correctly_path, {:class => "answered_correctly_link"} %>
